{{>partials/header}}
{{>partials/navbar}}
<main>
    <div class="login-container">
        <form action="/login" method="post">
            <label class="hidden-label" for="username"></label>
            <input class="login-input-field" id="username" type="text" name="username" placeholder="Username"/>
            <label class="hidden-label" for="password"></label>
            <input class="login-input-field" id="password" type="password" name="password" placeholder="Password"/>
            {{#errorMessage}}<p class="login-error">{{.}}</p>{{/errorMessage}}
            <div class="login-submit-container">
                <input class="login-button" type="submit" value="Login"/>
            </div>
        </form>
    </div>

</main>
{{>partials/footer}}