<div class="navbar">
    <div>
        <a class="site-title" href="/">SteveDevBlog</a>
    </div>
    <nav>
        <a class="nav-link" href="/blogs">Blogs</a>
        <a class="nav-link" href="/newsletter">Newsletter</a>
        <a class="nav-link" href="/about">About</a>
    </nav>
    <div>
        <form class="nav-search" action="/search">
            <input class="nav-search-box" type="search" placeholder="search" name="search-query"/>
            <input class="nav-search-button" type="image" src="/icons/search-icon.svg" alt="Submit">
        </form>
    </div>
</div>