/* general */

body {
    margin: auto;
    margin-top: 5px;
    width: 80%;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
}



/* navbar */

.navbar {
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.nav-search {
    display: flex;
    margin-left: 5px;
}

.nav-search-button {
    width: 25px;
    margin: 10px;
    padding-left: 3px;

}

.nav-search-box {
    margin: 5px 0px;
}

.nav-link {
    text-decoration: none;
    color: #4b4f4f;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px;
    transition: 0.3s;
}

.site-title:hover {
    text-decoration: underline overline;
}

.site-title {
    color: #ed143d;
    text-decoration: none;
    font-size: 2rem;
    font-family: Helvetica, Arial, sans-serif;
    transition: 0.3s;
}

.nav-link:hover {
    text-decoration: underline overline;
}

/* homepage */

.homepage-container {
    width: 90%;
    margin: 0px auto;
}

.homepage-welcome {

}

.welcome-title {

}

.post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.post-card {
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    width: 30%;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
    background-color: #929cad;
    box-shadow: 0px 5px 5px #ccc;
    }

.post-image {
    width: 100%;
}

.card-text-content {
    padding: 5px;
}

/* new post */

.hidden-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.title-box {
    outline: none;
    border: none;
    margin: 20px 0px;
    padding-bottom: 0px;
    font-size: 2rem;
    width: 80%;
    border-bottom: 2px solid #ccc;
}

.post-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.description-box {
    outline: none;
    border: 1px solid #ccc;
    resize: none;
    margin: 20px 0px;
    width: 45%;
    height:3rem;
    font-size: 0.9rem;
    font-family: Helvetica, Arial, sans-serif;
    border-bottom: 2px solid #ccc;
}

.url-box {
    outline: none;
    border: none;
    margin: 10px 0px;
    margin-top: 3rem;
    padding-bottom: 0px;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    width: 45%;
    height: 1rem;
    border-bottom: 2px solid #ccc;
}

.post-content-box {
     width: 99.7%;
     height: 80vh;
     resize: none;
}

.new-post-submit {
    display: flex;
    justify-content: right;
}

.new-post-submit-button {
    padding: 8px;
    margin: 10px 0px;
    font-size: 1rem;
    background-color: #ccc;
    border-radius: 2px;
    border: none;
}

.new-post-submit-button:hover {
    color: #ffffff;
}

/* footer */

.footer-container {
    margin-top: 5px;
    padding-top: 10px;
    background-color: grey;
    border-top: 2px black solid;
}

.copyright {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 8px;
}

/* buttons */

.read-more-button {
    display: inline-block;
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: #4b4f4f;
    padding: 10px 0px;
    background-color: #ccc;
    transition: 0.3s;
    border-top: 2px #ccc solid;
    border-bottom: 2px #ccc solid;
}

.read-more-button:hover {
     border-top: 2px #787878 solid;
     border-bottom: 2px #787878 solid;
}

