{{>partials/header}}
{{>partials/navbar}}
<main>
    <div class="about-welcome">
        <h1 class="about-title">Welcome</h1>
        <p class="about-text">
            Welcome to SteveDevBlog.com! My name is Steve and I am a Software Engineer from the UK. I have built this site to write about personal projects I am
            working on and to create tutorials to help people like me. Right now this website is my main project. You can take a look at some of my Build Log
            posts to follow along with my progress.
        </p>
    </div>
    <hr class="post-ruler">
    <div class="about-me-container">
        <div class="about-list">
            <h2>Skills</h2>
            <p>As my experience working as a software engineer grows, I am constantly developing my skills:</p>
            <ul>
                <li>Proficient writing code in Java, Javascript and Ruby</li>
                <li>Skilled in various IDEs and Editors, Intellij is my go-to</li>
                <li>Experience building RESTful APIs and working with a variety of third-party APIs</li>
                <li>Comfortable making use of various frameworks including Spring, Mustache, Express, JUnit and many more</li>
                <li>Work throughout the full software development lifecycle and utilise source control on all projects</li>
                <li>Building on my TDD and BDD skills to ensure apps are purpose built and thoroughly tested</li>
            </ul>
            <p>While I do a wide range of learning my current focus is on planning and constructing web applications from the ground up (Like this site.)</p>
        </div>
        <div class="about-list">
            <h2>Interests</h2>
            <p>Outside of writing code and building applications I have a number of other interests:</p>
            <ul>
                <li>
                    Running - 5k, 10k and Half-Marathons depending on my fitness level and motivation.
                    I have been on a break recently, but the past few years I average around 1000 km.
                </li>
                <li>
                    Photography - My favourite hobby when I get the chance to do it. View my photography
                    portfolio here: <a target="_blank" href="https://stevejonesphotos.co.uk/">stevejonesphotos.co.uk</a>
                </li>
                <li>
                    Hiking - When I am not sitting in front of my computer, being outside is what I enjoy the most.
                    My favourite highlights are Angels Landing in Zion National Park and Half-Dome in Yosemite National Park.
                </li>
                <li>
                    Music - I enjoy a wide range of music from the Red Hot Chili Peppers to Johnny Cash. I currently listen to a lot of
                    instrumental music while working but my current favourite is <a target="_blank" href="https://en.wikipedia.org/wiki/Sabaton_(band)">Sabaton</a>.
                </li>
            </ul>
        </div>
    </div>
    <div class="github">
        <h2>View all my Github projects:</h2>
        <br>
        <a class="github-link" href="https://github.com/stevej763" target="_blank">
            <img class="github-logo" src="/icons/github-logo.png" alt="github-logo">
            <p class="github-link-text">Click here!</p>
        </a>
    </div>

</main>
{{>partials/footer}}