{{>partials/header}}
{{>partials/navbar}}
<main>
    <div class="homepage-container">
        <div class="homepage-welcome">
            <h1 class="welcome-title">Welcome</h1>
            <p>
                Welcome to my website. This is some template text until I sort out the actual content for the welcome message.
            </p>
        </div>
        <div>
            <h2>Latest Posts</h2>
            <div class="post-list">
                {{#latestPosts}}
                    <div class="post-card">
                        <img class="post-image" src={{headerImageUrl}}>
                        <div class="card-text-content">
                            <h2>{{title}}</h2>
                            <p>{{description}}</p>
                            <p>category: {{category.value}}</p>
                            <p>published: {{publishDate}}</p>
                        </div>
                        <a class="read-more-button" href="/blog-post/{{id}}">Read more -></a>
                    </div>
                {{/latestPosts}}
            </div>
            <h2>Featured Posts</h2>
            <div class="post-list">
                {{#featuredPosts}}
                    <div class="post-card">
                        <img class="post-image" src={{headerImageUrl}}>
                        <div class="card-text-content">
                            <h2>{{title}}</h2>
                            <p>{{description}}</p>
                            <p>category: {{category.value}}</p>
                            <p>published: {{publishDate}}</p>
                        </div>
                        <a class="read-more-button" href="/blog-post/{{id}}">Read more -></a>
                    </div>
                {{/featuredPosts}}
            </div>
        </div>
    </div>
</main>
{{>partials/footer}}