{{>partials/header}}
{{>partials/navbar}}
<main>
    <div class="post-container">
        {{#post}}
            <div class="header-image-container">
                <img class="post-header-image" src="{{headerImageUrl}}"/>
            </div>
            <div class="post-header-container">
                <h1 class="post-title">{{title}}</h1>
                <p class="post-description">{{description}}</p>
            </div>
            <hr class="post-ruler">
            <div class="markdown-content">{{{markdown-content}}}</div>
        {{/post}}
    </div>
</main>
{{>partials/footer}}